@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


html{
  margin: 0;
  padding: 0;
}
body{
  margin: 0;
  background-color:#0e0d0d;
  color: white;
  font-family: Poppins;
  padding: 0;
}

.card-container{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     
    margin-bottom: 2em;
    
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin-left: 3em;
    margin-right: 3em;
    
}

.title {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Show only 2 lines */
  -webkit-box-orient: vertical; /* Set the text orientation to vertical */
  max-width: 140px; /* Set the maximum width for the title */
  white-space: normal; /* Allow wrapping to multiple lines */
  overflow: hidden; /* Hide any overflowing text */
  text-overflow: ellipsis; /* Display an ellipsis (...) for truncated text */
  font-size: 13px;
  margin-top: .3em;
}

.next{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.next-button{
    display: flex;
    justify-content: center;
   
    
}

.next-button button{
    padding: 5px;
    display: flex;
    align-items: center;
  
    background-color: #a09191;
    border: none;
    color: rgb(0, 0, 0);
    gap: 1em;
    cursor: pointer;
}

.next-button button:hover{
  background-color: #756d6d;
  color: #ffecec;
}


.nav-container{
   display: flex;
   align-items: center;
   justify-content: center;
   height: 90px;
   background-color:#09090b;
   color: white;
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5em;
}

.nav-items{
   display: flex;
   align-items: center;
   justify-content: center;
}
.nav-items ul{
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1em;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}

.nav-items li:hover{
   color: #756d6d;
     
}
.search-container{
    display: flex;
    align-items: center;
    border: 1px white solid;
    height: 25px;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
}

.search-container input{
  width: 300px;
  height: 20px;
  border: 0px;
  background-color: #09090b;
  color: white;
 
}
.socials{
  display: flex;
  align-items: center;
  gap: 2em;
  cursor: pointer;
}

.socials h2:hover{
   color: #2e2e30;
}

.socials h3:hover{
   color: #2e2e30;
}


.footer-socials{
    display: flex;
    align-items: center;
     margin-left: 10em;
     gap: 1em;
     color: #fdfdfd;
}


.footer-container{
  margin-top: 10em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color:#2e2e30;
  color:#696975;

}

.footer{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
 
}

.footer-items{
  color: #ffffff;
}


.footer-disclaimer{
   font-size: 10px;
   color: #696975;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-left: 15em;
   margin-right: 15em;
   text-align: center;
}

.us{
  display: flex;
  gap: 2em;
  margin-top: 1em;
  color: #fdfdfd;
  margin-left: 2em;
}